<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8"/>
    <title>Assignment - Week 4</title>
    <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='index.css')}}">
    <script src="{{url_for('static',filename='index.js')}}"></script>
</head>
<body>
    <div class="head">歡迎光臨，請輸入帳號密碼</div>
    <form action="/signin" method="POST">
        <div class="login">
            <div>登入系統</div>
            <div class="account">帳號 <input class="acc" type="text" name="userid"/></div>
            <div class="password">密碼 <input class="pw" type="text" name="password"/></div>
            <div class="button"><button class="btn">登入</button></div>
        </div>
    </form>
    <hr/>
    <div class="square">計算正整數的平方</div>
    <div class="integer">正整數 
        <input class="int" type="text" id="num">
    </div>
    <div class="squarebutton">
        <button class="btn" onclick="account()">計算</button>
    </div>
</body>
</html>